# Ignore _pycache_ folder (precompiled Python code)
_pycache_/

# Ignore venv folder (Python Virtual Environment)
venv/

# Ignore instance folder (used by Flask web app, e.g., for SQLite database)
instance/
