p {
    font-smooth: auto;
    font-family: Poppins, Arial, sans-serif;
    font-size: 14px;
    color: #4e4e4e;
}

h1 {
    font-smooth: auto;
    font-family: Poppins, Arial, sans-serif;
    font-size: 32px;
    color: #4e4e4e;
    font-weight: bold;
}

h2 {
    font-smooth: auto;
    font-family: Poppins, Arial, sans-serif;
    font-size: 18px;
    color: #4e4e4e;
    font-weight: bold;
}

h3 {
    font-smooth: auto;
    font-size: 24px;
    color: #4e4e4e;
    font-weight: bold;
}

h4 {
    font-smooth: auto;
    font-family: Poppins, Arial, sans-serif;
    font-size: 20px;
    color: #4e4e4e;
    font-weight: bold;
}

h5 {
    font-smooth: auto;
    font-family: Poppins, Arial, sans-serif;
    font-size: 16px;
    color: #4e4e4e;
    font-weight: bold;
}

h6 {
    font-smooth: auto;
    font-family: Poppins, Arial, sans-serif;
    font-size: 14px;
    color: #4e4e4e;
    font-weight: bold;
}

.content {
    margin: 0;
    align-items: center;
    padding: 0;
    width: 100%
}

body {
    margin: 5px;
    padding: 5 px;
}

.header {
    background-color: #cfcfcf;
    padding: 10 px 0;
    text-align: center;
}

.footer {
    background-color: #cfcfcf;
    padding: 10 px 0;
    text-align: center;
}

.div {
    background-color: #cfcfcf;
    text-align: center;
    object-position: center;
    width: 100%;
    height: 100%;
    align-items: center;
}