.header_container {
    width: 100%;
    border-bottom: 1px#000000;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}

.row {
    width: 100%;
}

.login_register_button {
    background-color: white;
    border: none;
    margin: 0;
    padding: 0;
}

.login_register_button:hover {
    background-color: none;
    border: none;
    color: darkviolet;
}

.login_register_button:active {
    background-color: none;
    border: none;
    color: darkviolet;
}