            .location_preview_container {
                display: inline-flex;
                flex-wrap: wrap;
                justify-content: space-between;
                width: 100%;
                margin: 10px;
                background-color: #ffffff;
                overflow: hidden;
            }
            
            @media screen and (max-width: 768px) {
                .location_preview_container {
                    width: calc(25% - 20px);
                }
            }
            
            @media screen and (max-width: 600px) {
                .location_preview_container {
                    width: calc(50% - 20px);
                    /* Bei sehr kleinen Bildschirmen zwei Elemente pro Reihe */
                }
            }
            
            .location_preview_name {
                background-color: none;
            }
            
            .short_content_info {
                padding: 5px;
                align-items: first baseline;
            }
            
            .content_preview_name {
                padding: 0;
                padding-top: 10px;
                margin: 0;
            }
            
            .location_preview_image {
                padding-bottom: 0%;
                background-color: #f5f5f5;
                width: 100%;
                aspect-ratio: 1;
                border-radius: 25px;
                box-shadow: 0 2px 4px rgba(0, 0.1, 0.1, 0.2);
                overflow: hidden;
            }
            
            .location_preview_description {
                font-size: 15px;
                font-weight: lighter;
                text-align: justify;
            }