            .location_preview_container {
                display: inline-flex;
                flex-wrap: wrap;
                justify-content: space-between;
                width: 100%;
                margin: 10px;
                background-color: #ffffff;
            }
            
            @media screen and (max-width: 768px) {
                .location_preview_container {
                    width: calc(25% - 20px);
                }
            }
            
            @media screen and (max-width: 600px) {
                .location_preview_container {
                    width: calc(50% - 20px);
                    /* Bei sehr kleinen Bildschirmen zwei Elemente pro Reihe */
                }
            }
            
            .location_preview_name {
                background-color: none;
            }
            
            .short_content_info {
                padding: 5px;
                align-items: first baseline;
            }
            
            .content_preview_name {
                padding: 0;
                padding-top: 10px;
                margin: 0;
            }
            
            .location_preview_image {
                padding-bottom: 0%;
                background-color: #f5f5f5;
                width: 100%;
                aspect-ratio: 1;
                border-radius: 25px;
                overflow: hidden;
                box-shadow: 0 2px 4px rgba(0, 0.1, 0.1, 0.4);
                /* Adjusted values */
            }
            
            .location_preview_description {
                font-size: 15px;
                font-weight: lighter;
                text-align: justify;
            }
            
            .carousel-control-prev-icon,
            .carousel-control-next-icon {
                border-radius: 50%;
                width: 50px;
                height: 50px;
            }
            
            .carousel-control-prev-icon {
                background-image: url('data:image/svg+xml;charset=UTF8,%3Csvg xmlns%3D"http%3A//www.w3.org/2000/svg" viewBox%3D"0 0 8 8"%3E%3Cpath fill%3D"%23fff" d%3D"M5.5 0l-4 4 4 4v-1.5l-2.5-2.5 2.5-2.5v-1.5z"/%3E%3C/svg%3E');
            }
            
            .carousel-control-next-icon {
                background-image: url('data:image/svg+xml;charset=UTF8,%3Csvg xmlns%3D"http%3A//www.w3.org/2000/svg" viewBox%3D"0 0 8 8"%3E%3Cpath fill%3D"%23fff" d%3D"M2.5 0l4 4-4 4v-1.5l2.5-2.5-2.5-2.5v-1.5z"/%3E%3C/svg%3E');
            }