body {
    font-family: Arial, sans-serif;
    margin: 5px;
    padding: 5 px;
}

.header {
    background-color: #cfcfcf;
    padding: 10 px 0;
    text-align: center;
}

.footer {
    background-color: #cfcfcf;
    padding: 10 px 0;
    text-align: center;
}

.div {
    background-color: #cfcfcf;
    padding: 10 px 0;
    text-align: center;
    object-position: center;
}

.p {
    color: grey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.filter_bar_container {
    display: flex;
    justify-content: center;
    /* Centers the filter bar horizontally */
    margin-bottom: 20px;
    /* Adds space below the filter bar */
}