<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='location_preview.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='filter_bar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='location_filter_dialog.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='tag.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='global_styles.css') }}">

</head>

<body>
    {% block content %}{% endblock %}
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js'></script>
    <script src="{{ url_for('static', filename='scripts/location_filter_dialogs.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/filter_map.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/login.js') }}"></script>
</body>
IUXJ8j329NUC

</html>