{% extends "base.html" %}

{% block content %}
<div class="content">
    <div>
        {% include 'header.html' %}
    </div>
</div>
<div>
    {%if not locations%}
    <h1>No favorites found...</h1>
    {%endif%}
</div>

<div class="content">
    <div id="locations-container">
        {% for location in locations %}
        {% if loop.index0 % 4 == 0 %}
        {% if loop.index0 != 0 %}
    </div>
    {% endif %}
    <div class="row">
        {% endif %}
        <div class="col-md-3">
            {% include 'location_preview.html' %}
        </div>
        {% endfor %}
    </div>
</div>
</div>

<div class="content">
    <div>
        {% include 'footer.html' %}
    </div>
</div>
{% endblock %}