<link rel="stylesheet" href="{{ url_for('static', filename='location_filter_dialog.css') }}">
<div class="dialog" id="geo_dialog" data-dialog="geo_dialog">
    <div>
        <div class="dialog_content">
            <div id="map-container">

                <div id="map"></div>

            </div>
            <div class="slider_container">
                <div class="slidecontainer">
                    <input type="range" min="0" max="50" value="25" class="slider" id="myRange">
                </div>
                <p id="myDistanceInfo"></p>
            </div>
            <button class="close_dialog">Schließen</button>
        </div>
    </div>
</div>