<div class="dialog" id="geo_dialog" data-dialog="geo_dialog">
    <div>
        <div class="dialog_content">
            <h5>Wählen Sie den Radius in welcher sich die Location befinden darf</h5>
            <div class="map_container" id="map"></div>
            <div class="slider_container">
                <div class="slidecontainer">
                    <input type="range" min="1" max="500" value="50" class="slider" id="myRange">
                </div>
            </div>
            <button class="close_dialog">Schließen</button>
        </div>
    </div>
</div>