<!-- filter_bar_template.html -->
<div class="filter-bar">
    <div class="filter-button location-geo-filter-button">
        <p>Wo?</p>
    </div>
    <div class="spacer"></div>
    <div class="filter-button location-type-filter-button">
        <p>Typ?</p>
    </div>
    <div class="spacer"></div>
    <div class="filter-button location-theme-filter-button">
        <p>Thema?</p>
    </div>
    <div class="spacer"></div>
    <div class="filter-button usecase-filter-button">
        <p>Wofür?</p>
    </div>
</div>
