<div class="dialog" id="usecase_dialog" data-dialog="usecase_dialog">
    <div>
        <div class="dialog_content">
            <h2>Wofür? - Usecase</h2>
            <!-- Filter-Einstellungen hier einfügen -->
            <div class="chosen_tags"></div>
            <div class="all_tags">
                {% for theme_tag in theme_tags %}
                {%include "tag.html"%}
                {%endfor%}
            </div>
            <button class="close_dialog">Schließen</button>
        </div>
    </div>
</div>