<div class="dialog" id="theme_dialog" data-dialog="theme_dialog">
    <div>
        <div class="dialog_content">
            <h2>Thema? - Thema hinzufügen</h2>
            <div class="chosen_tags"></div>
            <div class="all_tags">
                {% for tag in tags %}
                {% if(tag.type =="theme_tags") %}
                <div class="tag_template" data-tag-type="theme_tags" data-tag="{{tag.name}}">
                    <button class="tag_button" data-tag="{{tag.name}}">{{tag.name}}</button>
                    <button class="delete_tag">x</button>
                    <p class="tag_name">{{tag.name}}</p>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            <button class="close_dialog">Schließen</button>
        </div>
    </div>
</div>