<div class="location_preview_container">
    <div class="location_preview_image">
        <img src="{{location.image}}">
    </div>

    <div class="short_content_info">
        <div>
            <h3 class="location_preview_name">{{location.name}}<h3>
        </div>

        <div class="location_preview_description">
            <p>{{location.description}}</p>
        </div>
        <div class="distance">
            <p class="distance-text">5km</p>
        </div>
        <div class="userinfo">
            <p class="userinfo-text">Places Team</p>
        </div>
    </div>
</div>