<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Registration</title>
    <link rel="stylesheet" type="text/css" href="static/login+registration.css">
</head>

<body>
    <div id="back-button">
        <button id="back" onclick="window.location.href='/login'">Back</button>
    </div>
    <div id="login-box">
        <div class="left">
            <h1>Registration</h1>
            <input type="text" id="full_name" placeholder="Full name">
            <input type="email" id="email" placeholder="Email">
            <input type="password" id="password" placeholder="New Password">
            <input type="button" id="signup" value="Sign Up" />
        </div>
    </div>

    <script type="module">
        import { initializeApp } from "https://www.gstatic.com/firebasejs/10.12.2/firebase-app.js";
        import { getDatabase, set, ref } from "https://www.gstatic.com/firebasejs/10.12.2/firebase-database.js";
        import { getAuth, createUserWithEmailAndPassword } from "https://www.gstatic.com/firebasejs/10.12.2/firebase-auth.js";

        const firebaseConfig = {
            apiKey: "AIzaSyCvaudn5y9Lc7sB1U7b3iJNh1OhMgilmis",
            authDomain: "places-de11a.firebaseapp.com",
            databaseURL: "https://places-de11a-default-rtdb.firebaseio.com",
            projectId: "places-de11a",
            storageBucket: "places-de11a.appspot.com",
            messagingSenderId: "270159356467",
            appId: "1:270159356467:web:836fcefca3437bf397b946"
        };

        const app = initializeApp(firebaseConfig);
        const db = getDatabase(app);
        const auth = getAuth();

        document.getElementById('signup').addEventListener('click', (e) => {
            e.preventDefault();
            const email = document.getElementById('email').value;
            const password = document.getElementById('password').value;
            const full_name = document.getElementById('full_name').value;

            if (!email || !password || !full_name) {
                alert('Please fill all fields');
                return;
            }

            createUserWithEmailAndPassword(auth, email, password)
                .then((userCredential) => {
                    const user = userCredential.user;
                    set(ref(db, 'users/' + user.uid), {
                        fullName: full_name,
                        email: email
                    });
                    alert('User created successfully');
                })
                .catch((error) => {
                    const errorMessage = error.message;
                    alert(errorMessage);
                });
        });
    </script>
</body>

</html>