<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Registration</title>
    <link rel="stylesheet" type="text/css" href="static/login+registration.css">
</head>

<body>
    <div id="back-button">
        <button id="back" onclick="window.location.href='/login'">Back</button>
    </div>
    <div id="login-box">
        <div class="left">
            <h1>Registration</h1>
            <input type="text" id="full_name" placeholder="Full name">
            <input type="email" id="email" placeholder="Email">
            <input type="password" id="password" placeholder="New Password">
            <input type="button" id="signup" value="Sign Up" />
        </div>
    </div>
</body>

<script src="{{ url_for('static', filename='scripts/login.js') }}"></script>

</html>